* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("assets/backContactForm.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}