.main-steps {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: .5rem;
}

.main-steps::after {
    content: "";
    width: 550px;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 11px;
}

.icon-steps {
    text-align: center;
    background-color: #fff;
    z-index: 1;
    width: 120px;
    padding: .1rem;
}

.icon-steps svg {
    font-size: 1.6rem;
    margin-bottom: .2rem;
}

p {
    font-size: .6rem;
}

.active {
    font-weight: bold;
}

.active svg {
    fill: #7076f4;
}